<a href="https://colab.research.google.com/github/mfcortes/arduinoNode/blob/master/primerosPasos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Estructuras de datos en Pandas

In [1]:
import pandas as pd
import numpy as np

## Series
<p> Las Series son estructuras unidimencionales contienen un array de datos y un array de etiquetas llamado indice

In [11]:
#Crearemos primero una Serie
s = pd.Series([-1,0,6,9])
s2 = pd.Series(['lunes','martes','miercoles'])
ventas = pd.Series([200,4500,3000], index = ["Enero", "Febrero", "Marzo"])
print('\ns')
print(s)
print('\ns2')
print(s2)
print('\nventas')
print(ventas)

s
0   -1
1    0
2    6
3    9
dtype: int64

s2
0        lunes
1       martes
2    miercoles
dtype: object

ventas
Enero       200
Febrero    4500
Marzo      3000
dtype: int64

In [13]:
ventas[0]

200

In [14]:
ventas['Enero']

200

In [17]:
ing = pd.Series([100,2050,200,1000,4008,2256],index = ['p','c','p','p','g','g'])

In [22]:
ing['p'].describe()

count       3.000000
mean      433.333333
std       493.288286
min       100.000000
25%       150.000000
50%       200.000000
75%       600.000000
max      1000.000000
dtype: float64

In [27]:
# COnsultamos el tipoo de dato    
ing.dtype

dtype('int64')

In [28]:
# Tambien se puede acceder a los datos especifico de los indices y valores con index  y values

ing.index

Index(['p', 'c', 'p', 'p', 'g', 'g'], dtype='object')

In [33]:
ing.sum()

9614

In [34]:
ing.groupby()

TypeError: ignored